@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

// TODO - PX to EM
// TODO - Variables
.button {
  height: 50px;
  border-radius: 8px;
  font-weight: $weight-highlight;
  background-color: $primary;
  color: $secondary100;
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  border: 0;
  outline: none;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: $secondary100;
    border: 1px solid $primary;
    color: $primary;
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    filter: brightness(0.9);
  }

  &:not(:disabled):focus {
    text-decoration: underline;
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;
  }
}