@import 'colors.scss';
@import 'fonts.scss';

// TODO - PX to EM
// TODO - Variables
#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 7;

    background-color: $primary;
    color: $secondary100;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 7.5rem 5rem;

    img {
      max-width: 20rem;
    }

    strong {
      font: $font-header;
      line-height: 2.5rem;
      margin-top: 1rem;
    }

    p {
      font-size: $size-highlight;
      line-height: 2rem;
      margin-top: 1rem;
      color: $secondary100;
    }
  }

  main {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.6rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 20rem;
    align-items: stretch;
    text-align: center;
    gap: 1rem;

    > img {
      align-self: center;
    }
  }

  h2 {
    font-size: $size-highlight;
    margin: 4rem 0 1.6rem;
    font-family: $family-regular;
  }

  form {
    input {
      height: 3.1rem;
      border-radius: 0.5rem;
      padding: 1rem;
      background-color: $secondary100;
      border: 1px solid $secondary100;
      box-shadow: 0 2px 1rem $shadow;
      margin-bottom: 4rem;
      outline: none;

      &:focus {
        border: 1px solid $primary;
      }
    }

    button {
      margin-top: 1rem;
    }

    input, button {
      width: 100%;
    }
  }

  p {
    font-size: $size-regular;
    color: $secondary50;
    margin-top: 1rem;

    a {
      color: $link;
      margin-left: 0.5rem;
    }
  }

  .create-room {
    background-color: $create-room;
    color: $secondary100;

    img {
      margin-right: 0.5rem;
    }
  }

  .separator {
    font-size: $size-regular;
    color: $secondary30;

    margin: 2rem 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background-color: $secondary30;
      margin-right: 1rem;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background-color: $secondary30;
      margin-left: 1rem;
    }
  }
}