@import 'colors.scss';
@import 'fonts.scss';

#page-room {
  header {
    padding: 1.6rem;
    border-bottom: 1px solid $secondary70;

    .content {
      max-width: 75rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > img {
        max-height: 3rem;
        cursor: pointer;
      }

      > div {
        display: flex;
        gap: 1rem;

        button {
          height: 2.5rem;
        }
      }
    }
  }

  main {
    max-width: 50rem;
    margin: 0 auto;
  }

  .room-title{
    margin: 2rem 0 1.6rem;
    display: flex;
    align-items: center;

    h1 {
      font-family: $family-regular;
      font-size: $size-highlight;
      color: $heading;
    }

    span {
      margin-left: 1rem;
      background-color: $link;
      border-radius: 1.5rem;
      padding: 0.5rem 1rem;
      color: $secondary100;
      font-weight: $weight-highlight;
      font-size: $size-regular;
    }
  }

  form {
    textarea {
      width: 100%;
      padding: 1rem;
      border-radius: 0.5rem;
      border: 1px solid $secondary100;
      background-color: $secondary100;
      box-shadow: 0 2px 1rem $shadow;
      resize: vertical;
      min-height: 8rem;
      outline: none;
      color: $heading;

      &:focus {
        border: 1px solid $primary;
      }
    }

    .form-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      > span {
        font-size: $size-regular;
        color: $secondary50;
        font-weight: $weight-highlight;

        button {
          background-color: transparent;
          border: 0;
          color: $primary;
          text-decoration: underline;
          outline: none;
          font-size: $size-regular;
          font-weight: $weight-highlight;
          cursor: pointer;

          &:hover, &:focus {
            background-color: $primary;
            color: $secondary100; 
          }
        }
      }
    }
  }

  .question-list {
    margin: 2rem 0;
  }
}
