@import '../../styles/colors.scss';

.question {
  background-color: $secondary100;
  color: $heading;
  border-radius: 0.5rem;
  box-shadow: 0 2px 1rem $shadow;
  padding: 1.6rem;

  & + .question {
    margin-top: 0.5rem;
  }

  &.highlighted {
    background-color: $secondary80;
    border: 1px solid $primary;

    footer .user-info span {
      color: $heading;
    }
  }

  &.answered {
    background-color: $secondary70;
  }

  p {
    color: $heading;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.6rem;

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }

    button {
      border: 0;
      outline: none;
      background-color: $action;
      cursor: pointer;
      transition: filter .2s;
      padding: 6px;
      border-radius: 6px;

      &.like-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary50;
        gap: 0.5rem;

        svg path {
          stroke: $secondary50;
        }

        &.liked {
          color: $primary;

          svg path {
            stroke: $primary;
          }
        }
      }

      &:hover, &:focus {
        filter: brightness(.8);
      }

      &:focus {
        text-decoration: underline;
        background-color: $focus;
      }
    }
  }
}