.question {
  background-color: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba( 0, 0, 0, .4);
  padding: 24px;

  & + .question {
    margin-top: 8px;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;

    button {
      border: 0;
      outline: none;
      background-color: transparent;
      cursor: pointer;
      transition: filter .2s;
      padding: 4px;
      border-radius: 2px;

      &.like-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #737380;
        gap: 8px;

        svg path {
          stroke: #737380;
        }

        &.liked {
          color: #835AFD;

          svg path {
            stroke: #835AFD;
          }
        }
      }

      &:hover, &:focus {
        filter: brightness(.8);
      }

      &:focus {
        text-decoration: underline;
        background-color: rgba( 0, 0, 0, .2);
      }
    }
  }
}