@import '../../styles/colors.scss';

.room-code {
  height: 40px;
  border-radius: 8px;
  overflow: hidden;

  background-color: $secondary100;
  border: 1px solid $primary;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    filter: brightness(0.9);
  }

  &:not(:disabled):focus {
    text-decoration: underline;
  }

  div {
    background-color: $primary;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 16px 0 12px;
    width: 230px;
    font-size: 14px;
    font-weight: 500;
  }
}
