@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.room-code {
  height: 2.5rem;
  border-radius: 0.5rem;
  overflow: hidden;

  background-color: $secondary100;
  color: $heading;
  border: 1px solid $primary;
  cursor: pointer;
  outline: none;

  display: flex;
  align-items: center;

  &:not(:disabled):hover,
  &:not(:disabled):focus {
    filter: brightness(0.9);
  }

  &:not(:disabled):focus {
    text-decoration: underline;
  }

  div {
    background-color: $primary;
    color: $secondary100;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    display: block;
    align-self: center;
    flex: 1;
    padding: 0 1rem;
    width: 230px;
    font-size: $size-regular;
    font-weight: $weight-highlight;
  }
}
